.carousel-inner img {
  width: 100%;
  height: 100%;
}

a.navbar-brand {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  animation: lefttoright 2s linear infinite;
  animation-direction: alternate;
}

@keyframes lefttoright {
  from {
    padding-left: 5%;
  }
  to {
    padding-right: 5%;
  }
}

div ul.navbar-nav li {
  font-size: 18px;
  padding: 2px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

div ul.navbar-nav li:hover {
  color: orange;
}

div ul.navbar-nav li:before {
  content: "";
  position: absolute;
  top: 70%;
  left: 10%;
  background-color: orange;
  height: 2px;
  width: 0;
  transition: all 0.3s linear;
}

div ul.navbar-nav li:hover:before {
  width: 80%;
}
